/* =======================================
   BASE STYLES & VARIABLES
======================================= */
:root {
  --bg-color: #2b221e;
  --header-bg: #3b2f2f;
  --text-color: #e4e2dd;
  --text-color-hover: #556B2F;
  --accent-color: #a3b18a;
  --accent-hover: #87996e;
  --shadow-color: rgba(0, 0, 0, 0.3);
  --font-main: 'Courier New', Courier, monospace;
  --radius: 12px;
  --transition: 0.3s ease;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-main);
  margin: 0;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}



/* =======================================
   HEADER
======================================= */
.site-header {
  background-color: var(--header-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/*krympa meny vid skrollning*/
.site-header.shrink {
  padding: 0.5rem 3rem;
  background-color: var(--header-bg);
  backdrop-filter: blur(5px);
  transition: 0.4s ease-in-out;
}

.site-header.shrink .oblong-logo {
  height: 90px;
  transition: height 0.4s ease-in-out;
}

.site-header.shrink a {
  font-size: 20px;
  transition: 0.4s ease-in-out;
  font-weight: lighter;
}

.site-header a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bolder;
  transition: color var(--transition);
}

.site-header a:hover {
  color: var(--text-color-hover);
}

.nav-left,
.nav-right {
  display: flex;
  gap: 3rem;
  flex: 1;
}

.nav-left {
  justify-content: flex-end;
}

.oblong-logo {
  height: 150px;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

/* =======================================
   HERO IMAGES
======================================= */
.image-container {
  position: relative;
  width: 100%;
}

.firstimg,
.stretchedpic {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}


.stretchedpic {
  height: 450px;
}

.phototext {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgba(43, 34, 30, 0.6);
  color: var(--text-color);
  font-size: 0.75rem;
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
}

.phototext a {
  color: var(--text-color);
  text-decoration: underline;
}

/* =======================================
   INTRO TEXT
======================================= */
.introtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  margin: 4rem auto;
  line-height: 0.5;
}

.introtext h2 {
  font-weight: lighter;
  font-size: 24px;
  transition: transform var(--transition);
}

.introtext h2:hover {
  transform: translateX(0.5rem);
  transition: transform var(--transition);
}

/* Trappstegseffekt */

.introtext h2:nth-child(1) {
  transform: translateX(-50%);
}

.introtext h2:nth-child(2) {
  transform: translateX(-25%);
}

.introtext h2:nth-child(3) {
transform: translateX(0%);
}

.introtext h2:nth-child(4) {
transform: translateX(25%);
}

.introtext h2:nth-child(5) {
transform: translateX(50%);
}


/* =======================================
   BOOKSHELF SECTION
======================================= */
.mybooks {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 3rem auto 4rem auto;
  max-width: 1500px;
}

.book-card {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 1rem;
  background-color: var(--accent-color);
  margin: 1.5rem auto;
  padding: 1.5rem;
  border-radius: var(--radius);
  box-shadow: 0 3px 8px var(--shadow-color);
  color: var(--bg-color);
  max-width: 1500px;
  height: auto;
}

.book-card .book-info {
  display: flex;
  order: 1;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  margin-right: 25px;
}

.book-card:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
  box-shadow: var(--shadow-color);
}

.book-card .bio-cover {
  order: 2;
  height: auto;
}

.book-title {
  font-weight: bold;
  font-size: 18px;
}


.book-info {
  font-size: 1rem;
  margin: 1rem;
}



.bio-cover {
  width: 250px;
  height: auto;
  border-radius: var(--radius);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  transition: transform var(--transition), box-shadow var(--transition);
}

.bio-cover:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.book-card a {
  font-weight: bolder;
  color: var(--bg-color);
  text-decoration: underline;
  transition: color var(--transition);
}

.book-card a:hover {
  color: var(--text-color-hover);
}


/* =======================================
 QUOTES SETCION
======================================= */

.quotestitle h2 {
  display: flex;
  justify-content: center;
  padding-top: 75px;
}

.quotes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
  text-align: center;
  max-width: 1500px;
  margin: 3cap auto;
  padding: 2rem;
  color: var(--text-color);
  border-radius: var(--radius);
  font-style: italic;
  margin-bottom: 1rem
}

.quotes figure {
  background: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  border-radius: var(--radius);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.quotes figure:hover {
  color: var(--accent-hover);
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

/* =======================================
   SPLIDE SECTION
======================================= */
.favesplide {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
}

.splide {
  max-width: 1250px;
  margin: 4rem auto;
  padding: 25x;
}


/* Grundinställningar för slides */
.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  pointer-events: auto;
}

/* Inställningar för bilderna */
.splide__slide img {
  width: 90%;
  max-width: 450px;
  min-width: 200px;
  height: auto;
  border-radius: var(--radius);
  transition: transform 0.3s ease, opacity 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);

}


/*Mitten bilden - Active slide */
.splide__slide.is-active img {
  transform: scale(1.05);
  opacity: 1;
  width: 100%;
  border-radius: var(--radius);
  transition: transform 0.3s ease, opacity 0.3s ease;
}




/* =======================================
   FORM SECTION
======================================= */
form {
  background-color: var(--header-bg);
  padding: 32px;
  border-radius: var(--radius);
  color: var(--accent-color);
  max-width: 1250px;
  margin: 3rem auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

input,
textarea {
  display: block;
  align-items: left;
  background-color: rgba(237, 230, 219, 0.1);
  border: 1px solid var(--accent-color);
  color: var(--text-color);
  width: 95%;
  margin: 0 0 1.32px 0;
  padding: 0.7rem;
  border-radius: 0.75rem;
  font-family: inherit;
}


/* =======================================
CHECKBOX AND LABLE FIX
======================================= */
.gdpr {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  /* mellanrum mellan ruta och text */
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.gdpr label {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 0.95;
  line-height: 1.4;
  color: var(--accent-color);
  cursor: pointer;
}

.gdpr label:hover {
  color: var(--accent-hover);
}

.gdpr input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: var(--accent-color);
  cursor: pointer;
  flex-shrink: 0;
  transition: transform var(--transition), box-shadow var(--transition);
}

.gdpr input[type="checkbox"]:hover {
  transform: scale(1.1);
  box-shadow: 0 0 6px var(--accent-hover);
}


button {
  background-color: var(--accent-color);
  color: var(--bg-color);
  padding: 0.7rem 1.4rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all var(--transition);
}

button:hover {
  background-color: var(--accent-hover);
  transform: scale(1.03);
}

/* =======================================
   ABOUT SECTION
======================================= */
.about {
  color: var(--text-color);
  margin: 4rem auto;
  max-width: 1000px;
  line-height: 1.6;
  font-weight: lighter;
  padding: 100px;
}

.about h3 {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: lighter;
  color: var(--accent-color);
}

/* =======================================
   FOOTER
======================================= */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-bg);
  color: var(--text-color);
  text-align: center;
  padding: 2rem 1rem;
  font-size: 1rem;
  opacity: 0.9;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* Kolumner med länkar*/
.footer-nav {
  gap: 5rem;

}

/* Var kolumn */
.footer-column {
 
  gap: 0.6;
}

/* Rubriker i footern*/
.footer-column h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--accent-color);
  margin-bottom: 5px;
}

/* Länkar */
footer a {
  color: var(--text-color);
  text-decoration: none;
  font-family: var(--font-main);
  font-size: 16px;
  transition: color var(--transition);
}

.footer-column a:hover {
  color: var(--accent-color);
}


.footer-logo img {
  height: 150px;
}

.footer-logo img:hover {
  transform: scale(1.05);
}