/* =======================================
   BASE STYLES & VARIABLES
======================================= */
/* color standard */
:root {
  --bg-color: #2b221e;
  --header-bg: #3b2f2f;
  --text-color: #e4e2dd;
  --text-color-hover: #556B2F;
  --accent-color: #a3b18a;
  --accent-hover: #87996e;
  --shadow-color: rgba(0, 0, 0, 0.3);
  --font-main: 'Courier New', 'Courier', 'monospace';
  --radius: 12px;
  --transition: 0.3s ease;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-main);
  margin: 0;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

/* =======================================
   HEADER
======================================= */
.site-header {
  background-color: var(--header-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* shrinks menu when scrolling */
.site-header.shrink {
  padding: 0.5rem 3rem;
  background-color: var(--header-bg);
  backdrop-filter: blur(5px);
  transition: 0.4s ease-in-out;
}

/* shrinks logo when scrolling */

.site-header.shrink .oblong-logo {
  height: 100px;
  transition: height 0.4s ease-in-out;
}

.site-header.shrink a {
  font-size: 20px;
  transition: 0.4s ease-in-out;
  font-weight: lighter;
}

.site-header a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bolder;
  transition: color var(--transition);
  padding-left: 75px;
  padding-right: 75px;
}

.site-header a:hover {
  color: var(--text-color-hover);
}

.nav-left,
.nav-right {
  display: flex;
  gap: 3rem;
  flex: 1;
}

.nav-left {
  justify-content: flex-end;
}

.oblong-logo {
  height: 150px;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

/* =======================================
   HERO IMAGES + PICS
======================================= */
.image-container {
  position: relative;
  width: 100%;
}

.firstimg,
.stretchedpic {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}


.stretchedpic {
  height: 450px;
}

.about-pic {
  height: 450px;
}

.phototext {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgba(43, 34, 30, 0.6);
  color: var(--text-color);
  font-size: 0.75rem;
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
}

.phototext a {
  color: var(--text-color);
  text-decoration: underline;
}



/* =======================================
   INTRO TEXT
======================================= */
.introtext {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--text-color);
  margin: 4rem auto;
}


.introtext h1,
.introtext p {
  font-weight: lighter;
  font-size: 1.5rem;
  transition: transform var(--transition);
  transform: translateX(calc(var(--i) * 15px));
  line-height: 1.5;
  margin: 0;
}

.introtext h1:hover,
.introtext p:hover {
  transform: translateX(calc(var(--i) * 15px + 10px))
}



/* =======================================
   BOOKSHELF SECTION
======================================= */
.mybooks {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 3rem auto 4rem;
  max-width: 1500px;
  font-size: 2.5rem;
  font-weight: lighter;
  color: var(--accent-hover);
  text-align: left;
  margin-top: 40px;
  margin-bottom: 0px;
}

/* === BOOK CARD === */
.book-card {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 5rem;
  margin: 1.5rem auto;
  padding: 1.5rem;
  max-width: 1000px;
  height: auto;
  background-color: var(--accent-color);
  color: var(--bg-color);
  border-radius: var(--radius);
  box-shadow: 0 3px 8px var(--shadow-color);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.book-card:hover {
  transform: scale(1.02);
  box-shadow: var(--shadow-color);
}

/* === BOOK INFO (description) === */
.book-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
}

.book-title {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

.book-title p,
h3 {
  margin: 0;
}


/* === BOOK COVER === */

.bio-cover {
  width: 100%;
  border-radius: var(--radius);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  transition: transform var(--transition), box-shadow var(--transition);
  margin: 0;
}

/*
.bio-cover:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

/* === LINKS === */

.book-card a {
  font-weight: 700;
  color: var(--bg-color);
  text-decoration: underline;
  transition: color var(--transition);
}

.book-card a:hover {
  color: var(--text-color-hover);
}


/* =======================================
 QUOTES SETCION
======================================= */

.quotestitle h2 {
  text-align: center;
  padding-top: 75px;
    font-size: 2.5rem;
  font-weight: lighter;
  color: var(--accent-hover);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0px;
}

/* === GRID === */
.quotes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
  text-align: center;
  max-width: 1500px;
  margin: 3cap auto 1rem;
  padding: 2rem;
  color: var(--text-color);
  font-style: italic;
}

/* === EACH QUOTE + Hover effect === */
.quotes figure {
  background: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  border-radius: var(--radius);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.quotes figure:hover {
  color: var(--accent-hover);
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

/* =======================================
   SPLIDE SECTION
======================================= */
.favesplide {
  display: flex;
  justify-content: center;
  text-align: center;

}

.favesplide h2 {
  font-size: 2.5rem;
  font-weight: lighter;
  color: var(--accent-hover);
  text-align: left;
  padding-top: 40px;
  margin-bottom: 0px;
}

.splide {
  max-width: 1250px;
  margin: 4rem auto;
  padding: 0;
}


/* === standard settings for slides === */
.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 450px;
}

/* === settings for imgs === */
.splide__slide img {
  height: auto;
  width: 90%;
  object-fit: contain;
  border-radius: var(--radius);
  transition: transform 0.3s ease, opacity 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

/* === middle img - Active slide === */
.splide__slide.is-active img {
  transform: scale(1.05);
  opacity: 1;
  border-radius: var(--radius);
  width: 110%;
}

.splide__slide.is-prev,
.splide__slide.is-next { 
  width: 200px;
  opacity: 0.7;
}

.splide__track {
  display: flex;
  align-items: center;
}


.splide__arrow {
  top: 50%;
  transform: translateY(-50%) !important;
  position: absolute !important;
}


/* =======================================
   FORM SECTION
======================================= */
.recommend-a-book {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
    font-size: 2.5rem;
  font-weight: lighter;
  color: var(--accent-hover);
  text-align: left;
  margin-top: 40px;
  margin-bottom: 0px;
}


form {
  background-color: var(--header-bg);
  padding: 1.5rem;
  border-radius: var(--radius);
  color: var(--accent-color);
  max-width: 1250px;
  margin: 3rem auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  text-align: left;
}

.form-section {
  text-align: left !important;
  display: block;
}

input,
textarea {
  display: block;
  align-items: left;
  background-color: rgba(237, 230, 219, 0.1);
  border: 1px solid var(--accent-color);
  color: var(--text-color);
  width: 95%;
  margin: 0 0 2rem 0;
  padding: 0.7rem;
  border-radius: 0.75rem;
  font-family: inherit;
}

/* =======================================
CHECKBOX AND LABLE FIX
======================================= */
.gdpr {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  gap: 0.75rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.gdpr-label {
  display: flex;
  align-items: flex-start;
  line-height: 1.4;
  color: var(--accent-color);
  cursor: pointer;
  margin: 0px;
}

.gdpr-label:hover {
  color: var(--accent-hover);
}

.gdpr input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin: 0;
  margin-left: 10px;
  accent-color: var(--accent-color);
  cursor: pointer;
  flex-shrink: 0;
  transition: transform var(--transition), box-shadow var(--transition);
}

.gdpr input[type="checkbox"]:hover {
  transform: scale(1.1);
  box-shadow: 0 0 6px var(--accent-hover);
}


button {
  background-color: var(--accent-color);
  width: auto;
  color: var(--bg-color);
  padding: 0.7rem 1.4rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all var(--transition);
}

button:hover {
  background-color: var(--accent-hover);
  transform: scale(1.05);
}

/* =======================================
   ABOUT SECTION
======================================= */
.about {
  color: var(--text-color);
  margin: 4rem auto;
  max-width: 1400px;
  line-height: 1.6;
  font-weight: lighter;
  padding: 0 2rem;
  max-width: 1250px;
}

.about-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2rem;
  align-items: start;
}

.about h2 {
  font-size: 2.5rem;
  font-weight: lighter;
  color: var(--accent-color);
  text-align: left;
  margin-top: 20px;
  margin-bottom: 0px;
}

.about-text {
  font-size: 1.1rem;
  line-height: 2.5;
  padding-right: 20px;
  width: 650px;
}

.about-img {
  width: 100%;
  border-radius: var(--radius);
  box-shadow: var(--shadow-color);
  object-fit: cover;
}

/* =======================================
   FOOTER
======================================= */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-bg);
  color: var(--text-color);
  text-align: center;
  padding: 2rem 1rem;
  font-size: 1rem;
  opacity: 0.9;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* Columns with Links*/
.footer-nav {
  gap: 5rem;

}

/* each column */
.footer-column {

  gap: 0.6;
}

/* heading in footer */
.footer-column h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--accent-color);
  margin-bottom: 5px;
}

/* links */
footer a {
  color: var(--text-color);
  text-decoration: none;
  font-family: var(--font-main);
  font-size: 16px;
  transition: color var(--transition);
}

.footer-column a:hover {
  color: var(--accent-color);
}

.footer-logo img {
  height: 150px;
}

.footer-logo img:hover {
  transform: scale(1.05);
}

/* =======================================
   END OF SCRIPT
======================================= */